@font-face {
    font-family: 'Pixel';
    src: 
        url('04b_30__-webfont.woff')
        format('woff');
}

@font-face {
  font-family: 'minimal';
  src: 
      url('outrequebold-webfont.woff')
      format('woff');
}

:root {
  --primary-color: #fff
}

body {
  background-color: #3b3247;
}

h1 {
    font-family: 'Pixel';
    color: #CEB1FB;
    letter-spacing: 2px;
    font-style: italic;
}


#title {
  padding-left: 350px ;
}



p {
  font-family: 'minimal';
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 10px;
    
}

a {
  font-family: 'minimal';
  color: #d8c1fa;
  text-decoration: none;
  

}

nav {
    text-align: center;
}


h2 {
    font-family: Pixel;
    color: #1D1D1D;
}

.t1mertitle {
  text-align: center;
}

.blocked {
  color:#d8c1fa
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.float-child-element {  
  margin: 70px;
  border-radius: 10px;
  background: #CEB1FB;
  

  
}



#todo {
   text-align: center;
  
   
 
}

#timer {
    text-align: center;

}

.list {
  display: inline-block;
}
  

svg {
    width: 40px;
    height: 40px;
}
.todo-item {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: space-between;
    color: white;
    font-family: 'minimal';
  }
  
  .todo-item span {
    flex-grow: 1;
    margin-left: 1px;
    margin-right: 10px;
    font-size: 22px;
  }
  
  .done span {
    text-decoration: line-through;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .tick {
    width: 30px;
    height: 30px;
    border: 3px solid #333;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .tick::before {
    content: '✓';
    font-size: 20px;
    display: none;
    color: rgb(249, 249, 255);
  }
  
  .done .tick::before {
    display: inline;
  }
  
  .delete-todo {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  
  .delete-todo svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
  }
  
  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid #333;
    font-family: 'minimal';
  }

  .empty-state {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .checklist-icon {
    margin-bottom: 20px;
  }
  
  .empty-state__title, .empty-state__description {
    margin-bottom: 20px;
  }

  .todo-list:empty {
    display: none;
  }

  .todo-list:empty + .empty-state {
    display: flex;
  }
/*timer elements*/
.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.timer {
  font-size: 30px;
  font-family: pixel;
  padding-right: 30px;
  color: #3b3247;
  font-weight: 600;
  letter-spacing: 4.5px;
  margin: 1px;
  width:  110px;
  height: 110px;
  
  display: grid;
  place-items: center;
}

.buttons button{
  font-size: 10px;
  font-weight: 800;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  transition: transform 0.4s ease-in-out;
  font-family: 'minimal';
}

.buttons button:hover {
  transform: scale(1.1);
}

.pomoCountsDisplay {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  animation: swipe-up 1s ease-in;
  
}

.pomoCountsDisplay span {
  font-size: 50px;
  font-weight: 700;
  color: #3b3247
}

.pomoCountsDisplay p {
  font-size: 10px;
  font-weight: 600;
  color: #3b3247
}

@keyframes swipe-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*technique css*/

.technique h2 {
  color: #CEB1FB;
}

.technique li {
  list-style-type: disc;
  display: block;
  color: white;
  font-family: 'minimal';
}

.technique {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
}

.technique p {
  color: #d8c1fa;
  width: 50%;
}

#websiteInput {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

#toggleButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.mission {
  color: #CEB1FB;
}

.mission p {
  color: #d8c1fa
}

.techniquenote {
  color: white;
  text-align: center;
}

em {
  font-family: 'minimal';
  color: white;
}

.blocked h2 {
  color: #CEB1FB
}