@font-face {
    font-family: 'Pixel';
    src: 
        url('04b_30__-webfont.woff')
        format('woff');
}

:root {
  --primary-color: #fff
}

h1 {
    font-family: 'Pixel';
    color: black;
    letter-spacing: 2px;
    font-style: italic;
}

#title {
    text-align: center;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 10px;
}

nav {
    text-align: center;
}


h2 {
    font-family: Pixel;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.float-child-element {  
  margin: 40px;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  

  
}



#todo {
   text-align: center;
  
   
 
}

#timer {
    text-align: center;

}

.list {
    display: inline-block;
}
  

svg {
    width: 40px;
    height: 40px;
}
.todo-item {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }
  
  .todo-item span {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
  }
  
  .done span {
    text-decoration: line-through;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .tick {
    width: 30px;
    height: 30px;
    border: 3px solid #333;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .tick::before {
    content: '✓';
    font-size: 20px;
    display: nonjse;
    color: rgb(249, 249, 255);
  }
  
  .done .tick::before {
    display: inline;
  }
  
  .delete-todo {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  
  .delete-todo svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
  }
  
  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid #333;
  }

  .empty-state {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .checklist-icon {
    margin-bottom: 20px;
  }
  
  .empty-state__title, .empty-state__description {
    margin-bottom: 20px;
  }

  .todo-list:empty {
    display: none;
  }

  .todo-list:empty + .empty-state {
    display: flex;
  }
/*timer elements*/
.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.timer {
  font-size: 30px;
  font-family: pixel;
  padding-right: 30px;
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 4.5px;
 margin: 20px;
  width:  110px;
  height: 110px;
  
  display: grid;
  place-items: center;
}

.buttons button{
  font-size: 10px;
  font-weight: 700;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  transition: transform 0.4s ease-in-out;
  
}

.buttons button:hover {
  transform: scale(1.1);
}

.pomoCountsDisplay {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  animation: swipe-up 1s ease-in;
}

.pomoCountsDisplay span {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

.pomoCountsDisplay p {
  font-size: 10px;
  font-weight: 600;
  color: white;
}

@keyframes swipe-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

